<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Сведения о человеке</title>
</head>
<body>
<p th:text="${person.getFio() + ', ' + person.getYearOfBirth()}">VALUE</p>
<div th:if="${empty}">
    <p>Человек пока не взял ни одной книги</p>
</div>
<hr/>
<div th:if="not ${empty}">
    <H3>Книги:</H3>
    <div th:each="book: ${book}">
        <p th:text="${book.getTitle()} + ', '+ ${book.getAuthor()} + ', ' + ${book.getYearOfFoundation()}">VALUE</p>
    </div>
</div>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>